{% extends 'layouts/base-site.html' %}

{% block title %} Compare DZ vs other countries {% endblock %} 

{% block content %} 

<h1 class="page-title">DZ Covid19 - <span class="fw-semi-bold">Charts</span></h1>
<div class="row">    
    <div class="col-lg-12 col-xl-10">
        <p class="fs-larger text-muted">
            This is <span class="fw-bold text-warning">not the official</span> website of the Algerian ministry of health.  
            If you need to report any statistics. Please check the official website <a href="http://covid19.sante.gov.dz/carte/">                
                <span class="fw-bold text-warning">here</span>.
            </a>             
        </p> 
    </div>    
</div>
<!-- Global statisitcs-->
<div class="row">    
    <div class="col-lg-5">
        <section class="widget">
            <header>
                <h5>
                    Number of cases
                </h5>                                
            </header>
            <div class="widget-body">
                <!-- Algerian global statistics -->
                <div class="mt mb" id="main-stats" style="width: 100%; height: 250px;">
                    <canvas id="main-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                
                <div class="visits-info well well-sm">
                    <div class="row">                          
                        <div class="col-sm-2 col-xs-6">
                            <div class="key"><strong>Confirmed</strong></div>
                            <div id="totalconfirmed" class="value">201 <i class="fa fa-caret-up color-red"></i></div>
                        </div>                        
                        <div class="col-sm-2 col-xs-6">
                            <div class="key"><strong>Recovered</strong></div>
                            <div id='recovered' class="value">340 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <div class="key"><strong>Deaths</strong></div>
                            <div id='deaths' class="value">17 <i class="fa fa-caret-up color-red"></i></div>
                        </div> 
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><strong>New cases</strong></div>
                            <div id="newcases" class="value">27 <i class="fa fa-caret-up color-red"></i></div>
                        </div>                       
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><strong>Still Infected</strong></div>
                            <div id='still_infected' class="value">152 <i class="fa fa-caret-up color-red"></i></div>
                        </div>                                              
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-2">
        <section class="widget">
            <header>
                <h5>
                    Cases Categorie
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="origin-stats" style="width: 100%; height: 250px;">
                    <canvas id="origin-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                    
                <div class="visits-info well well-sm">
                    <div class="row">                          
                        <div class="col-sm-6 col-xs-6">
                            <div class="key">
                                <i class="fa fa-male"></i>
                                <strong>Males</strong>
                            </div>
                            <div id="nbMale" class="value">10</div>
                        </div>                        
                        <div class="col-sm-6 col-xs-6">
                            <div class="key">
                                <i class="fa fa-female"></i>
                                <strong>Females</strong>
                            </div>
                            <div id="nbFemale" class="value">10</div>
                        </div>                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-2 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Cases by age
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="demographics-stats" style="width: 100%; height: 250px;">
                    <canvas id="demographics-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>    
                <div class="visits-info well well-sm">
                    <div class="row">
                        <div class="col-sm-3 col-xs-1"></div>
                        <div class="col-sm-12 col-xs-6">
                            <div class="key"><strong>% of young (< 45)</strong></div>
                            <div id="demographics_info" class="value">0</div>
                        </div>                                                
                        <div class="col-sm-3 col-xs-1"></div>                 
                    </div>
                </div>                            
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Number of currently infected people per-wilaya
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="infeted-stats" style="width: 100%; height: 250px;">
                    <canvas id="infeted-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>    
                <div class="visits-info well well-sm">
                    <div class="row">
                        <div class="col-sm-3 col-xs-1"></div>
                        <div class="col-sm-12 col-xs-6">
                            <div class="key"><strong>Number of infected willays</strong></div>
                            <div id="infectedWilaya" class="value">24</div>
                        </div>                                                
                        <div class="col-sm-3 col-xs-1"></div>                 
                    </div>
                </div>                            
            </div>
        </section>
    </div>
</div>
<!-- A row of chats to display wilaya stats-->
<div class="row">
    <div class="col-lg-4 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Confirmed cases per-wilaya
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="confirmed-stats" style="width: 100%; height: 250px;">
                    <canvas id="confirmed-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                    
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Recovered per-wilaya
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="recovered-stats" style="width: 100%; height: 250px;">
                    <canvas id="recovered-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                    
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Deaths per-wilaya
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="deaths-stats" style="width: 100%; height: 250px;">
                    <canvas id="deaths-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                    
            </div>
        </section>
    </div>
</div>

<!-- In this row we display some statistics about the population -->
<!-- <div class="row">    
    <div class="col-lg-4 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Age distribution
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="age-stats" style="width: 100%; height: 250px;">
                    <canvas id="age-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                    
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-xl-5">
        <section class="widget">
            <header>
                <h5>
                    Confirmed cases per-wilaya
                </h5>                
            </header>
            <div class="widget-body">
                <div class="mt mb" id="confirmed-stats" style="width: 100%; height: 250px;">
                    <canvas id="confirmed-stats-canvas" style="width: 100%; height: 100%;"></canvas>
                </div>                    
            </div>
        </section>
    </div>
</div> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- page specific scripts --> 
    <script src="{{ url_for('static', filename='assets/lib/jquery.sparkline/index.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- page specific js -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/StatisticsCharts.js') }}"></script>
{% endblock javascripts %}
