<nav id="sidebar" class="sidebar nav-collapse collapse">

    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-home"></i> <span class="name">Available statics</span></a>
        </li>
        <!--
        <li class="active">
            <a href="/predictions"><i class="fa fa-bar-chart-o"></i> Predictions (non-official)</a></li>
        </li>        
        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
                data-parent="#side-nav" href="#elements-collapse"><i class="fa fa-magic"></i> <span class="name"><strong>DZ Vs other countries</strong></span></a>
            <ul id="elements-collapse" class="panel-collapse collapse ">
                <li class=""><a href="/comparisons/vs/world">World</a></li>
                <li class=""><a href="/comparisons/vs/china">China</a></li>
                <li class=""><a href="/comparisons/vs/italy">Italy</a></li>
                <li class=""><a href="/comparisons/vs/korea">South Korea</a></li>
                <li class=""><a href="/comparisons/vs/usa">USA</a></li>
            </ul>
        </li>
        -->
    </ul>

    <h4 class="sidebar-nav-title"><strong>Liens officiels</strong></h4>    
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <ul class="sidebar-labels">
        <li>
            <a href="http://covid19.sante.gov.dz/carte/">                
                <span class="label-name fw-bold">وزارة الصحة الجزائرية</span>
            </a>
        </li>
        <li>
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">                
                <span class="label-name fw-bold">منظمة الصحة العالمية</span>
            </a>
        </li>                
    </ul>    
</nav>    
